@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Spartan', sans-serif;
  font-size: 32px;
}

.container {
  width: 400px;
  border-radius: 10px;
  
}

.container__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0; 
}

.container__theme {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container__display .display__view {
  width: 400px;
  height: 100px;
  margin: 2rem 0;
  background-color: azure;
}

.container__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  background-color: aqua;
 
}

.container__keys button {
  font-size: 32px;

}

.btn__reset {
  grid-column: span 2;
}

.btn__equal {
  grid-column: span 2;
}
