@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
@import "./theme1.scss";
@import "./variables.scss";

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include flex;
  height: 100vh;
}

.calc-button {
  cursor: pointer;
  border: none;
  outline: none;
}

.section2 {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  min-height: 6rem;
  border-radius: 8px;
  outline: none;
  border: none;
  width: 108%;
  padding: 0 0.75rem;
  height: auto;
  word-break: break-all;
}

